body {
  background-color: rgb(162, 255, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#add-button {
  position: relative;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 80px;
  line-height: 0%;
  background-color: rgb(150, 255, 252);
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
}

#add-button::after {
  content: "Add Link";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
  white-space: nowrap;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.4s ease;
  background-color: rgb(150, 255, 252);
}

#add-button:hover {
  border-radius: 50px;
  width: 250px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

#add-button:hover::after {
  opacity: 1;
}

#add-button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}