body {
    height: 95vh;
    background-color: rgb(36, 49, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle,
.circle::before,
.circle::after {
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: ovalRotate 2s linear infinite;
}

.circle {
    position: relative;
    animation: ovalRotate 2s linear infinite, rotateRed 1s linear infinite;
    box-shadow: 0 0 0 10px rgb(255, 0, 0);
}

.circle::before {
    position: absolute;
    box-shadow: 0 0 0 10px rgb(255, 230, 0);
    transform: rotate(60deg);
}

.circle::after {
    position: absolute;
    box-shadow: 0 0 0 10px rgb(0, 191, 255);
    transform: rotate(-60deg);
}

@keyframes ovalRotate {
    0%, 75%, 100%  { width: 200px; height: 200px }
    25%, 50% { width: 200px; height: 100px}
}

@keyframes rotateRed {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
}